apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: teste-argo
  namespace: argocd
spec:
  project: TesteArgo
  source:
    repoURL: 'https://github.com/hroliveira/teste_argo'
    targetRevision: HEAD
    path: 'k8s'
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
